body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; /* צבע רקע עדין */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
 }
 
 .update-worker {
    max-width: 500px;
    width: 90%;
    margin: 20px;
    padding: 30px;
    background-color: #ffffff; /* צבע רקע לבן לקופסה */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* הצללה עדינה */
    text-align: center;
 }
 
 .update-worker h2 {
    color: #007bff; /* צבע כותרת כחול */
    margin-bottom: 20px;
 }
 
 .update-worker form {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .update-worker input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
   margin-bottom: 15px;
    border: 1px solid #007bff; /* גבול כחול */
    border-radius: 5px;
    transition: border-color 0.3s;
 }
 
 .update-worker input:focus {
    border-color: #0056b3; /* צבע גבול כהה יותר בעת פוקוס */
    outline: none;
 }
 
 .update-worker button {
    padding: 12px 20px;
    background-color: #007bff; /* צבע כפתור כחול */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
 }
 
 .update-worker button:hover {
    background-color: #0056b3; /* צבע כהה יותר בעת ריחוף */
 }
 